{{ if .Params.includeEducation }}
    <h1>Образование</h1>
    <ul>
        <li>
        <p><strong>Полоцкий государственный университет 2014-2018</strong></p>
        <p>Степень: Высшее образование.</p>
        <p>Кафедра: Факультет информационных технологий.</p>
        </li>
        <li>
        <p><strong>Полоцкий государственный университет 2018-2021</strong></p>
        <p>Степень: Магистратура.</p>
        <p>Кафедра: Математика и компьютерные науки.</p>
        </li>
        </ul>
{{ end }}