{{ if .Params.IncludeJob }}
    <h1>Работа</h1>
    <ul>
        <li>
        <p><strong>Корпитек август 2018 - текущий момент</strong></p>
        <ul>
        <li>
        <p><strong>Домен проекта:</strong> Здравоохронение</p>
        <p><strong>Технологии:</strong> WCF, ADO Net, WinForms, DevExpess, MSSQL, TFS, gRPC, nodejs</p>
        </li>
        <li>
        <p><strong>Домен проекта:</strong> Логистика</p>
        <p><strong>Описание:</strong> Разработка клиентского приложения, а также работа с WCF сервисом</p>
        <p><strong>Технологии:</strong> WCF, ADO Net, WinForms, DevExpess, MSSQL, TFS, FluentValidation, Serilog, разработал task scheduler, работа с электронным документооборотом, работа с большой кодовой базой</p>
        </li>
        </ul>
        </li>
        <li>
        <p><strong>FuryLion май 2018 - август 2018</strong></p>
        <p><strong>Описание:</strong> Разрабатывал мобильные приложения</p>
        <p><strong>Технологии:</strong> Unity, UniRx, DOTween, Photon Network, Zenject</p>
        </li>
    </ul>
{{ end }}